.profile__avatar {
    width: 125px;
    height: 100%;
    margin: 0 20px 0 0;
    border-radius: 50%;
}

@media screen and (max-width: 767.98px) {
    .profile__avatar {
        margin: 0 auto;
    }
}