.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: transparent;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}